
# added by ni/gitignore 2024-02-09T09:25:19
META-INF
*.class
*.kexe
*.kexe.dSYM
lyk
org

# added by ni/gitignore 2024-02-11T17:40:48
*.jar

# added by ni/gitignore 2024-02-20T08:04:29
builtins/init-builtins.kt

# added by ni/gitignore 2024-03-03T15:36:40
/generated
